<body>
    <nav class="indigo">
        <div class="nav-wrapper container">
            <a href="#" class="brand-logo"><img src="/images/companyLogo.png" id="companyLogo" alt="Beacon Choice logo"></a>
            <a href="#" data-activates="slide-out" class="right button-collapse show-on-large indigo"><i class="material-icons">menu</i></a>
            <ul id="slide-out" class="side-nav">
                <li><a href="/"><i class="material-icons">home</i>Home</a></li>
                <li><a href="/employee/manage"><i class="material-icons">group</i>Employees</a></li>
                <li><a href="/employee/working"><i class="material-icons">assignment_ind</i>Currently working</a></li>
                <li><a href="/employee/analysis"><i class="material-icons">assessment</i>Analysis</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/users/logout"><i class="material-icons">power_settings_new</i>Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">

            <canvas id="myChart" width="400" height="400"></canvas>
        
    </div>   

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

    <script>  
        $('.button-collapse').sideNav({
            menuWidth: 300,
            edge: 'right',
            closeOnClick: true,
            draggable: true
        }); 
    </script>
    <script>
        var ctx = document.getElementById("myChart");
        var scatterChart = new Chart(ctx, {
            type: 'scatter',
            data: {
                datasets: [{
                    label: 'Scatter Dataset',
                    data: [
                        {{#each data}}
                           {
                               x:{{this.totalTimeWorked}}/1000/60,
                               y:{{this.daysAtWork}}
                           },
                        {{/each}}
                    ]
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        type: 'linear',
                        position: 'bottom'
                    }]
                }
            }
        });
    </script>

</body>